
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<ul class="nav justify-content-end"> 
    <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{this.name}}</a> 
    <div class="dropdown-menu"> 
    <a class="dropdown-item" routerLink="/privatemodule">Profile</a> 
    <a class="dropdown-item" routerLink="/privatemodule/booking">My Bookings</a> 
    <a class="dropdown-item" routerLink="/privatemodule/faqs">FAQs</a> 
    <div class="dropdown-divider"></div> 
    <a class="dropdown-item" (click)=logout()>Logout</a> 
    </div> 
    </li> 
    </ul> 
 <router-outlet></router-outlet>


 