<div class="card-title">
    <h3 class="text-success text-center nova">MY BOOKINGS</h3>

    <br>
<br>
<div class="container col-md-10 offset-md-2">
  <div class="pack">
<div class="offset-md-2">
    <a routerLink="/privatemodule/booking" ><button  id="upcoming" class="btn1" >UPCOMING</button></a>
    <a routerLink="/privatemodule/booking/past" ><button  id="past" class="btn2" >PAST</button></a>
</div>
      <!-- <a routerLink="/privatemodule/booking" >Upcoming</a>
      <a routerLink="/privatemodule/booking/past" >Past</a> -->
      </div>
      </div>
      </div>
      


<router-outlet></router-outlet>